{%extends "/tpl/html/main.twig"%}

{%block title%}Скачать фреймворк {{parent()}}{%endblock%}
{%block header%}<li class="active">Скачать фреймворк</li>{%endblock%}

{%block content%}
<div class="row alert alert-info">
<div class="col-md-3">
<b>Название</b>
</div>
<div class="col-md-2">
<b>Характеристики</b>
</div>
<div class="col-md-3">
<b>Описание</b>
</div>
<div class="col-md-4">
<b>Скачать</b>
</div>
</div>

{%for ed in editions%}
<div class="row alert alert-{{ed.status}}">
<div class="col-md-3">
{{ed.name}}
</div>
<div class="col-md-2">
{{ed.info}}
</div>
<div class="col-md-3">
{{ed.desc}}
</div>
<div class="col-md-4">
<a class="alert-link" href="{%if ed.link!=''%}{{MAIN.ROOT_HTTP}}files/downloads{{ed.link}}{%endif%}">Download</a><br />
({{ed.update}})<br />
({{ed.time}})
</div>
</div>
{%endfor%}

</div>
{%endblock%}