{%extends "/tpl/html/main.twig"%}

{%block title%}Админ панель {{parent()}}{%endblock%}
{%block header%}<li class="active">Админ панель</li>{%endblock%}

{%block content%}
<h3>Плагины</h3>
<a href="{{MAIN.ROOT_HTTP}}admin/plugins/list">Список плагинов</a><br />

<h3>Ядро API</h3>
<a href="{{MAIN.ROOT_HTTP}}admin">Настройка</a><br />

<h3>Ядро клиента</h3>
<a href="{{MAIN.ROOT_HTTP}}admin">Настройка</a><br />

<h3>Статистика</h3>
<a href="{{MAIN.ROOT_HTTP}}admin">Просмотр</a><br />
<a href="{{MAIN.ROOT_HTTP}}admin">Настройка</a><br />
{%endblock%}