{%extends "tpl/html/main.twig"%}

{%block title%}{{post.title}}{{parent()}}{%endblock%}
{%block header%}<li><a href="{{MAIN.ROOT_HTTP}}articles">Новости</a></li><li class="active">{{post.title}}</li>{%endblock%}

{%block content%}
<div>
<div style='word-wrap: break-word; max-width: 860px;'>{{post.article}}</div>
<font color='#AAA' style='float: left;'>{{post.post_time|date("d-m-Y H:i")}}&nbsp;&nbsp;&nbsp;&nbsp;
Просмотров: {{post.post_views}}&nbsp;&nbsp;&nbsp;&nbsp;
</font>
<font style='float: right;font-family: Flamme-LET;font-size: 16px;'><a href='{{MAIN.ROOT_HTTP}}users/{{post.author_login}}'>
<img alt='' src='/files/uploads/avatars/{{post.author_login}}.png' style='border-radius: 2px; margin-bottom: -3px' width='16px' height='16px' />
{{post.author_login}}</a></font><br />
Теги: <font style="word-wrap: break-word;">{{post.tags|join(', ')}}</font>
<hr size='1' style="color: #DDD" />
</div>
{%endblock%}