{%if SYS.LOGGEDIN!=true%}
<div class="panel_login" style="background: url('{{MAIN.ROOT}}tpl/{{MAIN.V}}/img/main/white.png') #f9f9f9;">
<form method="post" action="{{MAIN.ROOT_HTTP}}login">
<input class="textfield button_panel_mail_pass" type="text" name="email" placeholder="E-mail" />
<input class="textfield button_panel_mail_pass" type="password" name="password" placeholder="Пароль" />
<input type="submit" value="Вход" class="btn success button_panel_login" />
</form>
<form action="{{MAIN.ROOT_HTTP}}signup">
<button class="btn info button_panel_reg">
Регистрация
</button>
</form>
<form action="{{MAIN.ROOT_HTTP}}login/restore">
<button class="btn warning button_panel_reg button_panel_restore">
Забыл пароль
</button>
</form>
</div>
{%else%}
<div class="panel_login" style="background: url('{{MAIN.ROOT}}tpl/{{MAIN.V}}/img/main/white.png') #f9f9f9;">
<table>
<tbody>
<tr valign="top">
<td>
<div style="width: 88px; height: 88px; background: #ddd; border-radius: 3px;">
<img style="margin: 0 0 -4px 0; border-radius: 3px; width: 88px;" alt="" src="/files/uploads/avatars/{{SYS.LOGIN}}.png" />
</div>
</td>
<td>
<div style="margin: 0 3px;">
<div style="overflow: hidden; width: 133px; text-overflow: ellipsis;">{{SYS.LOGIN}}</div><bsr />
<div style="color: #777; font-size: 10px; margin: -3px 0 0 0;">{{SYS.NICKNAME}}</div>
<font style="font-size: 14px;">{{SYS.APPOINTMENT}}</div><br />
<form action="{{MAIN.ROOT_HTTP}}logout">
<button class="btn danger" style="position: absolute; top: 66px; width: /*132*/52px; right: 7px;">
Выход
</button>
</form>
<form action="{{MAIN.ROOT_HTTP}}profile">
<button class="btn info" style="position: absolute; top: /*7*/66px; width: /*70*/83px; /*height: 60px;*/">
Настройки
</button>
</form>
</div>
</td>
</tr>
</tbody>
</table>
</div>
{%endif%}