{%extends SYS.BASE~SYS.BASE_TPL%}

{%block title%}Пользователи{{parent()}}{%endblock%}
{%block header%}
<li class="active">Пользователи</li>
{%endblock%}

{%block content%}
{%for user in users%}
    <div class="row">
    <div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 1px;">
                <div class="panel-title" style="height: 90px; background: url({{ user.avatar }}) no-repeat center #cecece; background-size: cover;">

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><a href="{{ MAIN.ROOT }}users/{{ user.login }}" style="text-decoration-line: underline;">{{user.login}}</a></h1></div>
            <div class="panel-body">
                {% if user.sex==1 %}Мужской, {% elseif user.sex==null %}{% else %}Женский, {% endif %}
                <span style="color: {% if user.rank.0=='main_admin' %}red{% elseif user.rank.0=='admin' %}orange{% elseif user.rank.0=='moderator' %}green{% elseif user.rank.0=='developer' %}#aa00aa{% endif %};">
                    {{ user.appointment }}
                </span>
                    {% if user.isBanned==true %}
                        <span style="color: red; font-weight: bold;">
                        (Забанен)
                </span>
                    {% endif %}
            </div>
        </div>
    </div>
    </div>
{%endfor%}
{%endblock%}