{%extends SYS.BASE~"main.twig"%}

{%block title%}Пользователи{{parent()}}{%endblock%}
{%block header%}
{%if SYS.LOGGEDIN%}
<li class="active">
<div style="position: relative; top: 4px;">
<form action="{{MAIN.ROOT_HTTP}}users/confirm">
<button title="Модерация новых пользователей" class="btn btn-success" style="position: absolute; width: 76px; margin: 0 5px;">
+0
</button>
</form>
<div style="/*margin: -32px 0 0 46px;*/ margin-left: 83px;">Пользователи</div>
</div>
</li>
{%else%}
<li class="active">Пользователи</li>
{%endif%}
{%endblock%}

{%block content%}
{%for user in users%}
<div>
<div style="width: 20px; float: left;">
<img style="border-radius: 1px; width: 16px;" alt="" src="/files/uploads/avatars/{{user.login}}.png" />
</div>
<a href="{{MAIN.ROOT_HTTP}}users/{{user.login}}">{{user.nickname}}</a><sup>({{user.login}})</sup> - {%if true==false%}{%if user.sex==1%}Мужчина{%else%}Женщина{%endif%} -
{{user.bd.0}}/{{user.bd.1}}/{{user.bd.2}} - {%endif%}{{user.appointment}}
</div>
{%endfor%}
{%endblock%}