{%extends SYS.BASE~SYS.BASE_TPL%}

{%block title%}Пользователи{{parent()}}{%endblock%}
{%block header%}
<li class="active">Пользователи</li>
{%endblock%}

{%block content%}
{%for user in users%}
<div>
<div style="width: 20px; float: left;">
<img style="border-radius: 1px; width: 16px;" alt="" src="/files/uploads/avatars/{{user.login}}.png" />
</div>
<a href="{{MAIN.ROOT_HTTP}}users/{{user.login}}">{{user.nickname}}</a><sup>({{user.login}})</sup> - {%if true==false%}{%if user.sex==1%}Мужчина{%else%}Женщина{%endif%} -
{{user.bd.0}}/{{user.bd.1}}/{{user.bd.2}} - {%endif%}{{user.appointment}}
</div>
{%endfor%}
{%endblock%}