{%extends SYS.BASE~SYS.BASE_TPL%}

{%block header%}
<li class="active">

<div class="row">
<div class="col-md-8">

{{user.nickname}}<sup>({{user.login}})</sup>

</div>

<div class="col-md-3">
<sup> был&nbsp;в&nbsp;сети&nbsp;{{user.last_login|date("d-m-Y")}}</sup>
</div>
</div>

</li>
{%endblock%}

{%block title%}{{user.login}}{{parent()}}{%endblock%}

{%block content%}
    <div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 1px;">
                <div class="panel-title" style="height: 160px; background: url({{ avatar_src }}) no-repeat center #cecece; background-size: cover;">

                </div>
            </div>
            <div class="panel-heading">
                <div class="panel-title">
                    <div style="text-align: center; color: {% if user.rank.0=='main_admin' %}red{% elseif user.rank.0=='admin' %}orange{% elseif user.rank.0=='moderator' %}green{% elseif user.rank.0=='developer' %}#aa00aa{% endif %};">
                    {{ user.appointment }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{user.login}}{% if user.isBanned==true %} (Забанен){% endif %}</h1></div>
            <div class="panel-body">
                {{ user.name }} {{ user.surname }}<br />
                {% if user.canBan==true %}
                    {% if user.isBanned==true %}
                        <form method="post">
                            <input type="hidden" name="unban_uid" value="{{ user.id }}" />
                            <input type="submit" class="btn btn-success" value="Разбанить" />
                        </form>
                        {% else %}
                    <form method="post">
                    <input type="hidden" name="ban_uid" value="{{ user.id }}" />
                    <input type="text" class="form-control" name="time" placeholder="Время бана в секундах" />
                    <input type="submit" class="btn btn-danger" value="Забанить" />
                    </form>
                        {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{%endblock%}