{%extends SYS.BASE~"main.twig"%}

{%block title%}Регистрация{{parent()}}{%endblock%}

{%block header%}<li class="active">Регистрация</li>{%endblock%}

{%block content%}
<p>
После регистрации подтвердите аккаунт по
указанному Вами e-mail и дождитесь, пока Ваш аккаунт подтвердит администрация. Это может занять от 1 до 3 дней. Наберитесь терпения.
</p>
<form method="post">

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
Логин пригласившего
</span>
<input name="invite" type="text" class="form-control"
{%if _GET.invited is defined %}disabled="disabled"{%endif%}
value="{%if _POST.invite is defined %}{{_POST.invite}}{%else%}{{_GET.invited}}{%endif%}" 
maxlength="30" placeholder="Этот пользователь должен быть зарегистрирован" />
</div>
</div>
<div class="col-md-3">
(От 4 до 30 символов : a-z, A-Z, 0-9, _)
</div>
</div>


<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
Имя
</span>
<input name="name" type="text" class="form-control" 
value="{{_POST.name}}" 
maxlength="25" placeholder="Вася" />
</div>
</div>
<div class="col-md-3">
(От 2 до 25 символов : a-z, A-Z, а-я, А-Я)
</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
Фамилия
</span>
<input name="surname" type="text" class="form-control" 
value="{{_POST.surname}}" 
maxlength="35" placeholder="Пупкин" />
</div>
</div>
<div class="col-md-3">
(От 5 до 35 символов : a-z, A-Z, а-я, А-Я)
</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
Логин
</span>
<input name="login" type="text" class="form-control" 
value="{{_POST.login}}" 
maxlength="30" placeholder="Admin4eg" />
</div>
</div>
<div class="col-md-3">
(От 4 до 30 символов : a-z, A-Z, 0-9, _)
</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
Пароль
</span>
<input name="pass" type="password" class="form-control" 
value="{{_POST.pass}}" 
maxlength="100" placeholder="********" />
</div>
</div>
<div class="col-md-3">
(От 6 до 100 символов : a-z, A-Z, _, -)
</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
Повторите пароль
</span>
<input name="pass_r" type="password" class="form-control" 
value="{{_POST.pass_r}}" 
maxlength="100" placeholder="********" />
</div>
</div>
<div class="col-md-3">
(От 6 до 100 символов : a-z, A-Z, _, -)
</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
E-mail
</span>
<input name="email" type="text" class="form-control" 
value="{{_POST.email}}" 
maxlength="100" placeholder="admin@kcraft.su" />
</div>
</div>
<div class="col-md-3">

</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
Повторите e-mail
</span>
<input name="email_r" type="text" class="form-control" 
value="{{_POST.email_r}}" 
maxlength="100" placeholder="admin@kcraft.su" />
</div>
</div>
<div class="col-md-3">

</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
Пол
</span>
<select name="sex" class="form-control">
<option value="male">Мужской</option>
<option value="female">Женский</option>
<option disabled>Кафельный</option>
</select>
</div>
</div>
<div class="col-md-3">

</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
День рождения
</span>
<input name="birthday" type="text" class="form-control" 
value="{{_POST.birthday}}" 
maxlength="10" placeholder="31/12/1990" />
</div>
</div>
<div class="col-md-3">
(В формате ДД/ММ/ГГГГ)
</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
О себе
</span>
<textarea style="resize: vertical; min-height: 46px;" class="form-control" name="about" rows="6"
placeholder="
Пару слов о себе. Но не более 1000 знаков! Желательно несколько ссылок на 
Ваши аккаунты в других соц. сетях. Это не обязательно, но перед тем, как отправить 
заявку, подумайте: &quot;А одобрят ли меня? Ведь фамилия у меня Иванов&quot;."
>{{_POST.about}}</textarea>
</div>
</div>
<div class="col-md-3">

</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="input-group">
<span class="input-group-addon">
<img src="{{cap_src}}" />
</span>
<input style="height: 68px;" maxlength="6" name="captcha" type="text" class="form-control" placeholder="ABCDEF">
</div>
</div>
</div>


<div class="row">
<div class="col-md-7 col-md-offset-1">
<div class="checkbox">
<label>
<input name="agree" type="checkbox">
Я согласен с условиями пользовательского соглашения
</label>
</div>
</div>
<div class="col-md-3">

</div>
</div>

<div class="row">
<div class="col-md-7 col-md-offset-1">
<input type="submit" style="width: 100%;" class="btn btn-success" value="Поехали!" />
</div>
<div class="col-md-3">

</div>
</div>

</form>
{%endblock%}