{%extends "tpl/html/main.twig"%}

{%block title%}Новости {{parent()}}{%endblock%}
{%block header%}
<li><a href="{{MAIN.ROOT_HTTP}}articles">Новости</a></li><li class="active">Статьи для модерации</li>
{%endblock%}

{%block content%}
{%for post in posts%}
{%include "/plugins/articles/tpl/articles/instance.twig"%}
{%endfor%}
<div align="center" style="font-size: 19px;">
{%if page!=1%}<a href="{{MAIN.ROOT_HTTP}}articles/confirm/page-{{page-1}}">← Сюда</a>{%else%}← Сюда{%endif%} 
{%if page<pages%}<a href="{{MAIN.ROOT_HTTP}}articles/confirm/page-{{page+1}}">Туда →</a>{%else%}Туда →{%endif%}
</center>
{%endblock%}