{%extends SYS.BASE~SYS.BASE_TPL%}

{%block title%}Редактрирование Статьи {{parent()}}{%endblock%}
{%block header%}<li><a href="{{MAIN.ROOT_HTTP}}articles">Новости</a></li><li class="active">Редактрирование Статьи</li>{%endblock%}

{%block content%}
<p style="color: red; font-weight: bold;">Внимание! Возможно, у Вас нет прав на редактирование статьи.</p>
<center>
<form method="post">
<input type="text" value="{{post.title}}" style="width: 98%;" class="textfield" name="title" maxlength="64" placeholder="Заголовок" />
<textarea class="" style="width: 98%; height: 300px;" name="article" placeholder="Сама статья.">{{post.article}}</textarea>
<input type="text" value="{{post.tags|join(', ')}}" style="width: 98%;" class="textfield" name="tags" maxlength="128" placeholder="Теги" />
<input type="submit" style="width: 98%;" class="btn btn-success" value="Редактировать!" />
</form>
</center>

<table style="width: 100%;">
<tbody>

<tr>
<th>
BB-тег
</th>
<th>
Описание
</th>
<th colspan="2">
Пример
</th>
</tr>

<tr>
<td>
[b][/b]
</td>
<td>
Делает текст жирным
</td>
<td>
[b]Это жирный текст[/b]
</td>
<td>
<strong>Это жирный текст</strong>
</td>
</tr>

<tr>
<td>
[i][/i]
</td>
<td>
Делает текст курсивным
</td>
<td>
[i]Это курсивный текст[/i]
</td>
<td>
<em>Это курсивный текст</em>
</td>
</tr>

<tr>
<td>
[u][/u]
</td>
<td>
Делает текст подчёркнутым
</td>
<td>
[u]Это подчёркнутый текст[/u]
</td>
<td>
<u>Это подчёркнутый текст</u>
</td>
</tr>

<tr>
<td>
[s][/s]
</td>
<td>
Делает текст зачёркнутым
</td>
<td>
[s]Это зачёркнутый текст[/s]
</td>
<td>
<strike>Это зачёркнутый текст</strike>
</td>
</tr>

<tr>
<td>
[sup][/sup]
</td>
<td>
Делает текст надстрочным
</td>
<td>
[sup]Это надстрочный текст[/sup]
</td>
<td>
<sup>Это надстрочный текст</sup>
</td>
</tr>

<tr>
<td>
[sub][/sub]
</td>
<td>
Делает текст подстрочным
</td>
<td>
[sub]Это подстрочный текст[/sub]
</td>
<td>
<sub>Это подстрочный текст</sub>
</td>
</tr>

<tr>
<td>
[url][/url]<br />
[url=][/url]
</td>
<td>
Создаёт гипперссылку
</td>
<td>
[url]http://vk.com/kachalovcraft[/url]<br />
[url=http://yandex.ru]Яндекс[/url]
</td>
<td>
<a href="http://vk.com/kachalovcraft">http://vk.com/kachalovcraft</a><br />
<a href="http://yandex.ru">Яндекс</a>
</td>
</tr>

<tr>
<td>
@
</td>
<td>
Позволяет "позвать" пользователя
</td>
<td>
@Kachalov
</td>
<td>
<a href="{{MAIN.ROOT_HTTP}}users/Kachalov">@Kachalov</a>
</td>
</tr>

<tr>
<td colspan="4">
<hr />
<center>
Подробнее о BB-Code <a href="{{MAIN.ROOT_HTTP}}help">здесь</a>
</center>
</td>
</tr>

</tbody>
</table>
{%endblock%}