{% autoescape false %}
{%if type=='default'%}
    <div class="panel panel-default">
        <div class="panel-heading">
    <h1 class="panel-title">{{post.title}}{#<div class="pull-right" style="color:#AAA;">{{post.post_time|date("d-m-Y H:i")}}
        </div>#}</h1>
    </div>

        <div class="panel-body">
        <div style='word-wrap: break-word; max-width: 860px;'>{{post.article}}</div>
        </div>
    <div class="panel-footer">

        <div class="row">
            <div class="col-md-2">
                <span style="color:#AAA;">{{post.post_time|date("d-m-Y H:i")}}</span>
            </div>
            <div class="col-md-2">
                <span style="color:#AAA;">Просмотров: {{post.post_views}}</span>
            </div>
            <div class="col-md-4">
                <a href='{{MAIN.ROOT_HTTP}}users/{{post.author_login}}'>{{post.author_login}}</a>
            </div>
            <div class="col-md-4" style="text-align: right;">
                {%if SYS.LOGGEDIN==true%}<a href="{{MAIN.ROOT_HTTP}}articles/edit/{{post.author_id}}-{{post.post_id}}">Изменить</a>&nbsp;&nbsp;&nbsp;{%endif%}
                <a href="{{MAIN.ROOT_HTTP}}articles/{{post.author_id}}/{{post.post_id}}">Подробнее</a>
            </div>
        </div>

        </div>
    </div>
{%elseif type=='unpublished'%}
<div>
<h1 style="word-wrap: break-word;">{{post.title}}</h1>
<div style='word-wrap: break-word; max-width: 860px;'>{{post.article}}</div>
<font color='#AAA' style='float: left;'>{{post.post_time|date("d-m-Y H:i")}}&nbsp;&nbsp;&nbsp;&nbsp;
</font>
<font style='float: right;font-family: Flamme-LET;font-size: 16px;'><a href='{{MAIN.ROOT_HTTP}}users/{{post.author_login}}'>
<img alt='' src='/files/uploads/avatars/{{post.author_login}}.png' style='border-radius: 2px; margin-bottom: -3px' width='16px' height='16px' />
{{post.author_login}}</a></font><br />
Теги: <font style="word-wrap: break-word;">{{post.tags|join(', ')}}</font>
<div style="position: relative;">
<form method="post" action="{{MAIN.ROOT_HTTP}}articles/confirm/page-{{page}}">
<input type="hidden" name="vote" value="plus" />
<input type="hidden" name="id" value="{{post.post_id}}" />
<button title="Одобрить" class="btn btn-success" style="">
+
</button>
</form>
<form method="post" action="{{MAIN.ROOT_HTTP}}articles/confirm/page-{{page}}">
<input type="hidden" name="vote" value="minus" />
<input type="hidden" name="id" value="{{post.post_id}}" />
<button title="Не одобрить" class="btn btn-danger" style="">
-
</button>
</form>
</div>
<hr size='1' style="color: #DDD" />
</div>
{%endif%}
{% endautoescape %}