{%extends SYS.BASE~SYS.BASE_TPL%}

{%block title%}Админ панель {{parent()}}{%endblock%}
{%block header%}<li class="active">Админ панель</li>{%endblock%}

{%block content%}
    <div class="alert alert-danger">
        <div class="row">
            <div class="col-md-1">
                <span class="glyphicon glyphicon-warning-sign" style="color: while; font-size: 38px; cursor: default;"></span>
            </div>
            <div class="col-md-11">
                Неправильно сконфигурированные настройки могут привести к неработоспособности всего движка или
                его отдельных модулей
            </div>
        </div>
    </div>

{% if admin_menu.api|length == 0 %}{% else %}<h3><span class="glyphicon glyphicon-globe"></span> API</h3>{% endif %}
{% for item in admin_menu.api %}
{% if item.icon!=false %}<span class="glyphicon glyphicon-{{ item.icon }}"></span>{% endif %}
{% if item.href!=false %}<a href="{{MAIN.ROOT_HTTP}}admin/api/{{ item.href }}">{% endif %} {{ item.value }}{% if item.href!=false %}</a>{% endif %}
<br />
{% endfor %}

    {% if admin_menu.client|length == 0 %}{% else %}<h3><span class="glyphicon glyphicon-user"></span> Клиент</h3>{% endif %}
{% for item in admin_menu.client %}
{% if item.icon!=false %}<span class="glyphicon glyphicon-{{ item.icon }}"></span>{% endif %}
{% if item.href!=false %}<a href="{{MAIN.ROOT_HTTP}}admin/client/{{ item.href }}">{% endif %} {{ item.value }}{% if item.href!=false %}</a>{% endif %}
<br />
{% endfor %}

        {% if admin_menu.other|length == 0 %}{% else %}<h3><span class="glyphicon glyphicon-road"></span> Другое</h3>{% endif %}
{% for item in admin_menu.other %}
{% if item.icon!=false %}<span class="glyphicon glyphicon-{{ item.icon }}"></span>{% endif %}
{% if item.href!=false %}<a href="{{MAIN.ROOT_HTTP}}admin/other/{{ item.href }}">{% endif %} {{ item.value }}{% if item.href!=false %}</a>{% endif %}
<br />
{% endfor %}
{%endblock%}